<br>
<div class="container">
  <table class="table table-bordered table-hover">
    <h5>アプライ一覧</h5>
    <thead class="thead-dark">
      <th>Title</th>
      <th>Company</th>
      <th>Message</th>
    </thead>
    <tbody>
      <% @applies.each do |apply| %>
      <tr>
        <td>
          <%= link_to apply.post.title, apply_apply_messages_path(apply)%>
        </td>
        <td>
          <%= link_to apply.post.company.name, company_path(apply.post.company_id)%>
        </td>
        <td class="text-center">
          <%= link_to(apply_apply_messages_path(apply.id)) do %>
          <button type="button" class = "btn btn-primary">
            <span>
            <span class="small">Message </span><span class="badge badge-light"><%= apply.apply_messages.where(read: false, user_id: apply.user_id).count %></span>
            </span>
          </button>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
