<div class ="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          User List
        </div>
        <div class="col-xs-6 text-right">

        </div>
      </div>
    </div>
    <table class="table panel-body">
      <tr>
        <th><%= t('view.user_name') %></th>
        <th><%= t('view.created_at') %></th>
        <th></th>
        <th></th>
      </tr>

      <% @users.each do |user| %>
      <tr>
        <td class="user_name_row">
          <% if user.first_name && user.last_name %>
          <%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id) %>
        <% end %>
        </td>

        <td class="user_created_at_row"><%= user.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
