<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-3">
      Welcome to Get Job!
    </h1>
    <p class="lead">リード文</p>
    <button type="button" class = "btn btn-primary" data-toggle="modal" data-target = "#signupModal">Sign Up</button>
    <button type="button" class = "btn btn-primary" data-toggle="modal" data-target = "#loginModal">Log In</button>
  </div>
</div>
