// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.green {
  color: #65cfbb;
}

.deep-green {
  color: #448c7f;
}

.back-green {
  background-color: #65cfbb;
}
